*{
    padding: 0;
    margin: 0;
}

.bg-1 { 
      background-color: #26C5BF; /* Green */
      color: #F7FDFD;
    font-family: 'Segoe UI';
  }
  .bg-2 { 
      background-color: #474e5d; /* Dark Blue */
      color: #F7FDFD;
      font-family: 'Segoe UI';
      height: 80px;
  }
  .bg-3 { 
      background-color: #fff; /* White */
      color: #555555;
      font-family: 'Segoe UI';
  }

p{
    font-size: 1.4em;
    font-family: 'Segoe UI';
}
#mensaje{
    font-size: 1.3em;
    margin-bottom: -1px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 1.2em;
}
::-moz-placeholder { /* Firefox 19+ */
  font-size: 1.2em;
}
:-ms-input-placeholder { /* IE 10+ */
  font-size: 1.2em;
}
:-moz-placeholder { /* Firefox 18- */
  font-size: 1.2em;
}

.atajos{
    position: absolute;
    margin-left: 65%;
    margin-top: 3px;
}
a{
    font-size: 3em;
}
#boton{
    margin-top: 10px;
}
#boton:hover{
    outline: none;
}
#alerta-titulo{
    margin-top: 3px;
}
.error{
    float: left;
    margin-left: 40px;
    font-size: 1em;
    margin-top: -12px;
}

article {
	border-bottom: 1px solid #d8d8d8;
	padding: 10px 20px 0 20px;
	margin: 10px 0;
    margin-top: 35px;
}

#footer{
    margin-top: -6%;
    font-size: 14px;
}
footer {
	font-family: 'Segoe UI', serif;
	font-style: italic;
	text-align: center;
	font-size: 10px;
}
