*{
    padding: 0;
    margin: 0;
    font-family: "Segoe UI";
}

.pantalla-inicio{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #26C5BF;
}

h1{
    text-align: center;
    margin-top: 50px;
    font-size: 2.8em;
    font-weight: 400;
    color: #F7FDFD;
}
.linea{
    background: #474E5D;
    float: left;
    width: 100%;
    height: 28%;
}
.contenido{
    float: left;
    margin-top: 70px;
    width: 100%;
    height: 58%;
}
.mensaje1{
    text-align: center;
    font-size: 1.5em;
    color: #F7FDFD;
}

.login{
    float: left;
    margin-top: 20px;
    width: 90%;
    height: 35%;
    margin-left: 5%;
}
.img-circle{
    margin-top: 10px;
    
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: gray;
}
::-moz-placeholder { /* Firefox 19+ */
  color: gray;
}
:-ms-input-placeholder { /* IE 10+ */
  color: gray;
}
:-moz-placeholder { /* Firefox 18- */
  color: gray;
}

.login>input{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
    height: 35px;
    border-radius: 10px;
    outline: none;
    float: left;
    box-sizing: border-box;
    font-size: 1.2em;
    padding-left: 10px;
    border: none;
    background-color: white;
    color: black;
}

.botones{
    width: 50%;
    height: 40%;
    margin-top: 145px;
    margin-left: 25%;
}

.botones>button{
    float: left;
    height: 35px;
    box-sizing: border-box;
    outline: none;
    border-radius: 8px;
    background-color: #EC5337;
    border: none;
    color: white;
    font-size: 1.2em;
        width: calc(50% - 25px);
 
}
#iniciar{
    margin-top: 35px;
    width: 100%;
}
#registro{
    margin-top: 25px;
    
    width: 100%;
}
#iniciar:hover{
    width: calc(50% - 45px);
    height: 32px;
    font-size: 1.1em;
    margin-left: 26%;
}
#registro:hover{
    width: calc(50% - 45px);
    height: 32px;
    font-size: 1.1em;
    margin-left: 26%;
}
.error1{
    float: left;
    margin-left: 40px;
    font-size: 1em;
    color: white;
    margin-bottom: -5px;
}